@use '../../Partials/variables' as *;
@use '../../Partials/mixins' as *;

.footer{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 1.5rem;

    @include tablet{
        padding: 1.5rem 3rem;
    }

    @include desktop{
        padding: 1.5rem 6rem;
    }
    
    &__image{
        width: 3.5rem;
    }

    &__copyright{
        padding-left: 1.25rem;
    }
}