@use '../../Partials/variables' as *;
@use '../../Partials/mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: 4.75rem;

    @include tablet{
        padding: 0 3rem;
        height: 6rem;
    }

    @include desktop{
        padding: 0 6rem;
    }

    &__nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 1;
        background-color: white;
        padding: 1.5rem 1rem;
        transition: left 0.5s ease-in-out;

        &-menu {
            padding-top: 0.1rem;
            width: 1.25rem;
            margin-right: 2rem;
        }
        &-heading {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding-bottom: 1.5rem;
            margin: 0 -1rem;
            border-bottom: 2px solid $secondary-two;

            &--close {
                position: absolute;
                right: 1.5rem;
            }
        }
        &-list {
            display: flex;
            flex-direction: column;

            &-items{
                display: flex;
                align-items: center;
                justify-content: space-between;

                &--link{
                    text-decoration: none;
                }
            }

            &--arrow{
            }
        }

        &--open {
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
    }
    &__logo {
        width: 12.25rem;
        height: 1rem;
    }
    &__shop {
        display: flex;

        &-search {
            padding-right: 1rem;
            width: 2.2rem;
        }
        &-bag {
            width: 1.1rem;
        }
    }
}
