.ux {
  padding: 1.5rem;
  padding-top: 6rem;
  background: linear-gradient(rgba(57, 57, 57, 0.5), rgba(57, 57, 57, 0.5)), url(../../Assets/Images/pexels-flo-maderebner-869258.jpg) center no-repeat;
  background-size: cover;
  height: 110vh;
  width: 100%;
}
.ux__text {
  width: 15rem;
  margin: auto;
}
.ux__text-title {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}
.ux__selections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
.ux__selections-redirect {
  text-decoration: none;
  color: black;
}
.ux__selections-one, .ux__selections-two {
  background: #fff;
  margin-bottom: 1.5rem;
  width: 12rem;
  text-align: center;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}
.ux__selections-one:active, .ux__selections-two:active {
  transform: scale(0.8);
}
.ux__cancel-button {
  margin-bottom: 2rem;
}
.ux__container {
  padding: 2rem 3rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 15px;
  text-align: center;
}
.ux__container-title {
  font-size: 1.25rem;
  text-align: center;
}
.ux__container-button {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  color: #959595;
  margin-top: 2rem;
}
.ux__container-button:active {
  transform: scale(0.8);
}
.ux__container-button--active {
  background-color: #0f172a;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  color: #fff;
  margin-top: 2rem;
}
.ux__options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}
.ux__options-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.ux__options-one--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-one-image {
  width: 50px;
}
.ux__options-one-image--boots {
  width: 35px;
}
.ux__options-one-image--gloves {
  width: 40px;
}
.ux__options-one-text {
  margin-top: 0.5rem;
}
.ux__options-two--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-three--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-four--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-five--active {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  width: 7rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
}
.ux__options-two-box {
  width: 11.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}
.ux__options-two-box--everyday {
  width: 11.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 28px;
  background: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-two-box--hiking {
  width: 11.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 28px;
  background: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-two-box--trekking {
  width: 11.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 28px;
  background: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-two-box--skiing {
  width: 11.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 28px;
  background: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}
.ux__options-two--title {
  font-weight: 600;
  font-size: 1.25rem;
  margin: 0;
}
.ux__options-three--image, .ux__options-three--image-four, .ux__options-three--image-three, .ux__options-three--image-two {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
.ux__options-three--image-two {
  background-color: black;
}
.ux__options-three--image-three {
  background-color: red;
}
.ux__options-three--image-four {
  background-color: #aba89c;
}
.ux__options-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 6rem;
  padding: 0.5rem 1rem;
  border-radius: 28px;
}
.ux__options-three--five, .ux__options-three--ten, .ux__options-three--nine, .ux__options-three--eight, .ux__options-three--seven, .ux__options-three--six {
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 6rem;
  padding: 0.5rem 1rem;
  border-radius: 28px;
  background-color: #fff;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}/*# sourceMappingURL=UXPage.css.map */