// Breakpoints for media query
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


//Primary colors
$primary-one: #fff;


//Secondary colors
$secondary-one: #f8f8f8;
$secondary-two: #c6c6c6;
$secondary-three: #959595;
$secondary-four: #636363;
$secondary-five: #323232;


// Accents

$accent-one: #f1f5f9;
$accent-two: #6595F0;
$accent-three: #1358DB;
$accent-four: #1254D0;
$accent-five: #0e4fca;

//Neutrals

$neutral-one: #f1f5f9;
$neutral-two: #CBD5e1;
$neutral-three: #64748B;
$neutral-four: #334155;
$neutral-five: #0f172a;

